@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";

$primary-bg: #041140 ;
$primary-text: #fff;
$white: #fff;
$button-blue: #061e74;
$button-liked: #ffc100;

html, body {
    background-color: $primary-bg;
}

.editor-container{
    font-size: 18px;
  }

  .editor-container .ql-editor {
    height: 40vh;
    background-color: $white !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .quill-wrapper {
    position: relative;
    border-radius: 10px;
  }

  .ql-container {
    border: 0 !important;
  }
  
  .editor-container .ql-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $white;
  }

.logo-nav{
    max-width: 100%;
}

.submit-button {
    background-color: $white;
    color: $black;
    border-color: #fff !important;
    border-radius: 10px;
    border: 0;
    font-size:larger;
    &:hover {
        background-color: #deeaff;
    }
}

.adblock-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
  }

  .word-count {
    color:#fff
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .nav-text {
    color: white;
    font-weight: 600;
  }

  .signup-login-container {
    padding: 2rem;
  }
  
  .login-section,
  .signup-section {
    @media screen and (min-width: 769px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  .or-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }
.fullwidth-button{
  width: 100%;
}

.password-requirements {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;

  li {
    margin-bottom: 0.25rem;
  }
}

.char-count{
  color: #fff;
}

.prompt-buttons{
  color:$button-blue;
  &:hover{
    color:#0c31b8;
  }
}

.coverimage {
  height: 100%;
}

.coverimage-wrapper figure {
  border-radius: 0 !important;
}

.coverimage-wrapper img {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.white-text {
  color: $white !important;
}

.spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-styling {
  padding: 30rem 0;
  background-color: #041140;
  border-bottom: 4px solid $white;
}

.file-ui-box {
  height: 85vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.file-changes-content {
  white-space: pre-wrap;
}


.file-ui-box  {
  overflow-y: hidden; // Enable vertical scrolling

  // For WebKit-based browsers (e.g., Chrome, Safari)
  &::-webkit-scrollbar {
    width: 10px; // Set the width of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; // Set the track background color
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; // Set the thumb color
    border-radius: 90px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; // Set the thumb color when hovered
    border-radius: 90px;
  }

  // For Firefox
  scrollbar-width: thin; // Set the width of the scrollbar
  scrollbar-color: #888 #f1f1f1; // Set the thumb and track color


}

.tracked-changes-box{
  height: 93%;
  overflow-y: scroll;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13vw; /* Adjust this value as needed */
  display: inline-block; /* Add this property */
}
.table-files {
  width: 100%;
  max-height:50vh; /* Ensure the table has a width set */
}

.file-column-icon {
  width: 20%;
}

.file-column-name {
  white-space: nowrap;
  overflow: hidden;
  width: 80%; /* Use percentage for the width */
}
.scroll-on-hover {
  position: relative;
  overflow: hidden;
}

.scroll-on-hover:hover .truncate {
  animation: scroll-text 5s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.files-panel{
background-color: rgb(255, 255, 255);
}